@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url(img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.buy_body{
 position: relative;
}

.dialog{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: #2a6338d3;
    font-family: "Roboto", sans-serif;
    align-items: center;  
    justify-content: center;
}

.dialog_wrapp{
    background-color: #fff;
    color: #58b755;
    border-radius: 15px;
    width:fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.dialog_buttons{
    margin-top: 20px;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
}

.button_dialog{
    all: unset;
    background-color: #58b755;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 8px;
}


.p_dialog{
    font-size: 25px;
    align-self: center;
}

.close_form{
    margin-top: 20px;
    font-size: 20px;
}

.close_form:hover{
    text-decoration: underline;
    cursor: pointer;
}

.text_dialog{
    border: none;
    margin-top: 20px;
    width: 400px;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    resize: vertical; 
    overflow: auto; 
    color: #58b755;
    outline: none;
    transition: all .2s ease;
    border: #ccc 2px solid;
}

.text_dialog_input{
    height: 30px;
}

.text_dialog_admin{
    width: 400px;
    height: 100px;
}

.text_dialog:focus{
    border: #58b755 2px solid;
}


a{
    color: #59B755;
    text-decoration: none;
}

header{
    height: 100px;
}

.header{
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 10px;
}


.logo{
    font-weight: bold;
    font-size: 35px;

}
.cost{
    font-size: 30px;
    color: #59B755;
    font-weight: 700;
}
.logo_header {
    color: #59B755;
}

.basket{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_hrefs{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.user{
    margin-top: 20px;
}

.basket_svg{
    fill: #59B755;
    width: 60px;
    height: 60px;
}

.img_prof{
    width:  60px;
    height: 60px;
}

.footer{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #59B755;
    color: #fff;
    justify-content: space-between;
    padding: 0px 35px 0px 35px;
}

.tel{
    font-size: 23px;
    font-size: 700;
}


.wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 81vh;
    max-height: fit-content;
    font-family: "Roboto", sans-serif;
}

.wrapp_user{
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 20px;
}

.wrapp_orders{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 80px;
    padding-left: 80px;
}

.cactus_wrapp_orders{
    margin-top: 40px;
}

.user_info{
    font-family: "Roboto", sans-serif;
    color: #59B755;
    font-weight: bold;
    font-size: 35px;
}

.user_basket{
    margin-top: 20px;
}

.user_basket a{
    margin-right: 20px;
}

.wrapp a{
    font-size: 25px;
}

.main h1{
    color: #59B755;

}

form{
    padding: 15px 50px 15px 50px;
    width: 500px;
    height: 400px;
    border: 3px #59B755 solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}

.form_input{
    all: unset;
    width: 400px;
    height: 50px;
    padding-left: 14px;
    border: 2px #59B755 solid;
    border-radius: 15px;
    color: #59B755;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    
}

.form_input[type=text]::placeholder, .form_input[type=email]::placeholder, .form_input[type=password]::placeholder{
    color: #59B755;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.submit{
    background-color:#59B755 ;
    color: #fff;
    text-align: center;
}

.form_avt{
    justify-content: flex-start;
}

.form_avt input{
    margin-bottom: 25px;
}

.wrapp_index{
    padding-left: 75px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80vh;
    max-height: fit-content;
}

.cactus_wrapp{
    color: #59B755;
    max-width: 350px;
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    transition: all .2s ease-out;
    background-color: #fff;
    border-radius: 15px;
}

.cactus_wrapp:hover,.button_dialog:hover,.has_basket_a:hover, .buy_but:hover, .submit_admin:hover{
    cursor: pointer;
    opacity: 80%;
}

.cactus_p{
 font-size: 25px;
 margin-top: 10px;
}

.cactus_image{
    width: 250px;
    max-height:150px;
    border-radius: 15px;
}

.rating_index{
    display: flex;
    margin-top: 10px;
    width: 35px;
    align-items: center;
    justify-content: space-between;
}

.buy_wrapp_main{
    min-height: 81vh;
    max-height: fit-content;
}


.buy_wrapp{
    display: flex;
    padding-left: 40px;
    padding-right: 190px;
    color: #59B755;
    justify-content: space-between;
}

.buy_photo{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.buy_photo img{
    object-fit: cover;
    width: 400px;
    height: 500px;
    border: 3px #59B755 solid;
    border-radius: 15px;
}

.buy_description{
    margin-left: 40px;
}

.p_description{
    font-size: 25px;
}

.p_cost{
    font-weight: 500;
    font-size: 30px;
}

.buy_description p{
    margin-top: 25px;
}

.buy_but{
    color: #fff;
    background-color: #59B755;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    margin-top: 25px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: medium;
    transition: all .2s ease-out;
    border: none;
}

.basket_form{
    border: none;
    height: fit-content;
}

.cactus_wrapp_user{
    flex-direction: column;
    max-width: 100%;
    margin-left: 50px;
    background-color: #fff;
}

.user_rating_buy{
    font-size: 25px;
}

.user_rating_buy_name{
    min-width: 100px;
}

.reviews_h2{
    color: #58b755;
    font-size: 30px;
}

.cactus_review:last-child{
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.cactus_image_basket{
    margin-left: 40px;
}

.no_order_form{
    width: 100%;
    display: flex;
    align-items: center;
}

.no_order{
    all: unset;
    color: #fff;
    background-color: #58b755;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;

}

.desc{
    display: flex;
    flex-direction: column;
    margin-left: 40px;

}

.cactus_wrapp_user{
    color: #59B755;
    display: flex;
    margin-top: 60px;
    width: 350px;
    margin-left: 100px;
}

.reviews{
    margin-top: 50px;
    padding-right: 700px;
    padding-left: 100px;
}

.revie_text{
    max-width: 300px;
    text-align: center;
}

.but_bus{
    width: 400px;
    height: 50px;
}

.busket_bus{
    padding: 0;
    margin: 0;
    align-items: baseline;
}

.form_basket_index{
    all: unset;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
    padding: 0;
    color: #fff;
    margin-right: 10px;

}

.button_basket_index{
    all: unset;
    width: 100%;
    background-color: #58b755;
    padding: 5px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}

.orders_but{
    border: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.cost_bus{
    color: #59B755;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 10%;
}

.wrapp_bus{
   display: flex;
   align-items: center;    
   flex-wrap: wrap;
   justify-content: flex-start;
   min-height: 81vh;
   max-height: fit-content;
   margin-bottom: 20px;
}

.wrapp_user_bus{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.error{
    display: block;
    color: red;
}

.error2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.admin{
    min-height: 81vh;
    max-height: fit-content;
    color: #59B755;
    padding: 37px 80px 37px 80px;
}

.admin_wrapp{
    margin-top: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.admin_menu_wrapp{
    border: #59B755 3px solid;
    width: 400px;
    background-color: #fff;
    padding: 10px;
}

.title_admin{
    font-weight: bold;
    font-size: 30px;
    width: fit-content;
}

.admin_select{
    margin-top: 10px;
    font-size: 23px;
    transition: all .2s;
}

.admin_select:hover{
    opacity: 80%;
    cursor: pointer;
}

.change_cactus_form{
    display: flex;
    max-height: fit-content;
    width: 100%;
    justify-content: space-around;
    background-color: #b8f7ab8a;
}

.change_cactus{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #b8f7ab8a;
    flex-wrap: wrap;
}

.admin_input{
    padding: 3px;
}


.wrapp_create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin_table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.admin_th{
    color: #fff ;
    font-size: 28px;
    padding: 10px;
    background-color: #58b755b9;
}

.td_admin{
    text-align: center;
    background-color: #9ff08f;
    color: #fff;
    padding: 10px;
    font-size: 25px;
}
.tr_admin{
    border-bottom: 3px #58b755b9 solid;
}

.status_form{
    all: unset;
}

.td_desc{
    font-size: 18px;
}

.submit_admin{
    all: unset;
    color: #59B755;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px #58b755b9 solid;
    
}

.submit_buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sb{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.sb2{
    width: 25%;
}

.cange{
    background-color: #ffffff00;
}

.has_basket{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.has_basket_a{
    font-weight:300;
}

.wrapp_search{
    width: 100%;
    color: #58b755;
    flex-direction: column;
    justify-content: normal;
}

.none_search{
    width: 100%;
    align-items: center;
    margin: 0;
    margin-top: 17%;
    
}

.cactus_wrapp_search{
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 20px;
}

.cactus_desc{
    max-width: 400px;
}

.cactus_title_search{
    width: 100px;
}

.form_search{
    width: 50%;
    height:fit-content;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    color: #59B755;
    font-size: 20px;
}

.input_search, .submit_search,.button_rating{
    all: unset;
    height: 100%;
}

.input_search{
    width: 100%;
}

.input_search::placeholder {
    color: #58b755;
}

.search_but{
    width: 25px;
    height: 25px;
    transition: all .2s;
}

.search_but:hover{
   opacity: 60%;
   cursor: pointer;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    fill: transparent;
    stroke:#58b755;
    stroke-width: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.star_index{
    width: 20px;
}

.star_index_none{
    fill: none;
}

.star_unuser{
    fill: transparent;
    stroke:#58b755;
    stroke-width: 2;
    width: 30px;
    height: 30px;   
    margin-left: 5px;
}

.star:hover, .star.filled, .fill {
    fill: #58b755;
}

.form_action{
    padding: 10px;
    border: none;
    width: fit-content;
    height: fit-content;
}

.form_action:first-child{
    padding-left:0;
}
